.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://images.unsplash.com/photo-1604328698692-f76ea9498e76?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center center;
  background-size: cover;
}

.login-card {
  width: 100%;
  max-width: 420px;
  background-color: rgba(
    255,
    255,
    255,
    0.95
  ); /* makes it pop from background */
  padding: 32px 24px;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

.login-header {
  text-align: center;
  margin-bottom: 32px;
}

.login-logo {
  height: 60px;
  margin-bottom: 10px;
}

.login-title {
  margin: 0;
  color: #cb49b3;
}

.login-button {
  border-radius: 8px;
  background-color: #cb49b3;
  font-weight: 500;
  height: 40px;
}
.login-button:hover {
  background-color: #b91a9c !important;
}

.signup-link {
  text-align: center;
  margin-top: 16px;
}
.login-footer {
  text-align: center;
  margin-top: 20px;
  color: #555;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
